/* Setting fade transition and default settings */
body {
  color: rgb(68, 68, 68);
  background-color: beige;
  transition: background-color 1s ease;
}

#titleimg {
  width: 50vw;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  /* outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
  padding-top: 30vh;
}

.showcaseimg {
  width: 80vw;
  max-width: 90vw;
  max-height: 90vw;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
  padding-left: 5vh;
}

.imgtitle {
  color: darkgray;
  text-align: right;
  padding-right: 10vh;
  padding-top: 3vh;
}

/* colours */
.color-black {
  background-color: #000;
}
.color-indigo {
  background-color: #4332CF;
}
.color-blue {
  background-color: #2F8FED;
}
.color-green {
  background-color: #4DCF42;
}
.color-yellow {
  background-color: #FAEB33;
}
.color-orange {
  background-color: #F19031;
}
.color-red {
  background-color: #F2293A;
}

/* styling for demo, can ignore */
body {
  text-align: center;
  font-size: 120%;
  line-height: 1.618;
}
h1, h2 {
  font-size: 3em;
  letter-spacing: -0.05em;
  line-height: 1.1;
}
p {
  max-width: 30em;
  margin-bottom: 1.618em;
}
a {
  text-decoration: underline;
  color: rgb(68, 68, 68);
}